@font-face {
  font-family: 'C64';
  src: url('/c64/C64_Pro_Mono-STYLE.woff2') format('woff2'),
    url('/c64/C64_Pro_Mono-STYLE.woff') format('woff');
}

.c64 {
  min-width: 40ch;
  min-height: 25ch;
  padding: 2px 0;
  overflow: hidden;

  line-height: 1;
  letter-spacing: 0;
  word-spacing: 0;
  font-kerning: none;

  font-family: 'C64', monospace;
  background-color: #0000AA;
  color: #0088FF;

  border: 1ch solid #0088FF;
}